header{
    height: 850px;
    background-color: bisque;
    background-image: url(image/pexels-pixabay-33045.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1{
    color: white;
    padding: 50px;
}

dl dd{
    text-decoration: underline;
}

.aboutLion{
    color: white;
    width: 600px;
    margin-top: 250px;
    margin-left: 25px;
    line-height: 35px;
    font-size: 30px;
    font-style: italic;
}

form{
    margin-top: 50px;
    background-color: rgb(242, 212, 174);
    padding: 50px;
    font-size: larger;
    padding-left: 100px;
}

.text-input{
    color: red;
}

.speciainput{
    color: red;
    border-color: blue;
}

.shadowDiv{
    width: 300px;
    height: 200px;
    background-color: cadetblue;
    border: 2px solid red;
    text-align: center;
    margin: 30px 0px;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
}

